{% extends "bootstrap/base.html" %}
{% block style %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}
{% block title %}Contact List{% endblock %}

{% block content %}
    <table>
        <thead>
            <td>Name</td>
            <td>Phone</td>
            <td>Email</td>
        </thead>
    
        {% for row in rows %}
        <tr>
            <td>{{row["name"]}}</td>
            <td>{{row["tel"]}}</td>
            <td>{{row["email"]}}</td>	
        </tr>
        {% endfor %}
    </table>
    <h3><a href = "/home.htm">Go back to home page</a></h3>
{% endblock %}